{% extends 'layout.html' %}

{% block head %}
<meta charset="UTF-8">
<meta property="og:title" content="{{news.title|safe}}" />
<meta property="og:description" content="Padel League Porto" />
<meta property="og:url" content="{{ request.url }}" />
<meta property="og:image" content="{{ news.cover_image_url }}" />
{% endblock %}

{% block main %}
<div class="news_news_container">
    <div class="news_container_info">
        <h2>{{news.title|safe}}</h2>
        <div class="news_container_image">
            <img src="{{ news.cover_image_url }}" alt="">
        </div>
        <div class="news_container_content">
            {{news.text|safe}}
        </div>
    </div>
</div>
{% endblock %}