{% extends 'layout.html' %}

{% block main %}
<div class="news_container">
    <table>
        <thead>
            <tr>
                <th style="padding: 1rem;">player</th>
                <th style="padding: 1rem;">edition</th>
            </tr>
        </thead>
        <tbody>
            {% for registration in registrations %}
            <tr>
                <td style="padding: 1rem;">{{ registration.player.name }}</td>
                <td style="padding: 1rem;">{{ registration.edition.name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
