{% extends 'layout.html' %}
{% block main %}
<div class="statues_outer_container">
  <div class="statues_inner_container">

    <h1>1º Regras gerais</h1>

    <h2>a) Composição da Liga</h2>
    <p>
      A liga dividir-se-á em 3 divisões com 8 jogadores cada. Ao longo de 7 semanas as parelhas variarão até que todos os jogadores façam dupla com todos os restantes jogadores da mesma liga.
    </p>
    <p>
      Em cada semana (jornada) serão jogadas 3 partidas de 25 minutos por forma a que todas as 4 parelhas joguem entre si. Nessas partidas, cada vitória será premiada com 3 pontos, cada empate com 1 ponto e cada derrota com 0 pontos.
    </p>

    <h2>b) Jogo</h2>
    <p>
      A contagem de pontos em cada jogo é feita com a seguinte lógica:
      <br>1.º ponto: 15<br>2.º ponto: 30<br>3.º ponto: 40<br>4.º ponto: jogo
    </p>
    <p>
      No caso de ambas as parelhas possuírem três pontos, é necessário disputar um 7.º ponto de "ouro" para conseguir vencer o jogo.
    </p>
    <p>
      Os jogos serão contados de forma clássica (1,2,3,4…) até ao final dos 25 minutos. Findos os 25 minutos deve apenas ser terminado o jogo de serviço em questão. Caso os 25 minutos terminem entre jogos de serviço, o seguinte jogo não deve começar.
    </p>
    <p>
      Os jogos deverão ser contados por um telemóvel no exterior do campo que tocará um alarme ao fim de 25 minutos de forma que ninguém controle o término do jogo.
    </p>

    <h2>c) Substitutos</h2>
    <p>
      No caso de um jogador faltar, o seu parceiro nessa semana tem prioridade em escolher o substituto. Os jogadores externos que pretendam mostrar disponibilidade para jogar como substitutos numa semana devem preencher a mensagem de chamada geral com o seu nome no final da mensagem.
    </p>
    <p>
      Os substitutos devem ser, dentro do bom senso e do possível, de um nível de jogo parecido com o da liga em questão.
    </p>

    <h1>2º Desempate de subidas e descidas no caso de desistência</h1>
    <p>
      Independentemente das desistências, em primeiro lugar executam-se as subidas e descidas mediante os lugares obtidos na liga que termina.
    </p>
    <p>
      Excetuando o caso em que a desistência aconteça na liga mais inferior, caso em que se abre uma vaga a membros externos, nos restantes casos das ligas superiores, a desistência de um jogador levará a que a decisão seja entre o antepenúltimo da liga superior e do 3º lugar da liga inferior e seguir-se-á a seguinte ordem de critérios:
    </p>
    <ol type="a">
      <li>Assiduidade na liga que termina.</li>
      <li>% de assiduidade desde que o jogador entrou na liga.</li>
      <li>Sorteio.</li>
    </ol>

    <h1>3º Entrada/Saída de membros</h1>
    <p>
      As vagas serão abertas através de um pool no WhatsApp onde os candidatos poderão expressar a sua vontade de iniciar o seu percurso nesta prestigiada liga.
    </p>
    <p>
      Em caso de existirem mais jogadores do que vagas para entrar seguir-se-á a ordem dos seguintes critérios:
    </p>
    <ol>
      <li>Número de participações como substituto na liga que termina</li>
      <li>Número de participações como jogador da Padel League desde sempre</li>
      <li>Sorteio</li>
    </ol>
    <p>
      No caso de um jogador participar em 2 ou menos jornadas de uma determinada liga, a sua vaga ficará aberta na seguinte liga podendo o mesmo jogador candidatar-se submetendo-se aos critérios supramencionados.
    </p>
  </div>
</div>
{% endblock %}
