$font-base: "Gemunu Libre", sans-serif;
$color-dark: #281e1e;
$color-light: #eef3f4;
$color-primary: #006A71;
$color-secondary: #9ACBD0;

// Variations of primary and secondary
$color-primary-light: #4DB8BD;
$color-primary-dark: #004F53;
$color-secondary-light: #CBE5E7;
$color-secondary-dark: #5B9FA4;

// Neutrals
$color-grey-light: #d9d9d9;
$color-grey-medium: #a0a0a0;
$color-grey-dark: #4d4d4d;

// Accent Colors
$color-accent-1: #FF6B6B;   // soft red-pink
$color-accent-2: #FFD93D;   // warm yellow
$color-accent-3: #6A0572;   // deep purple


// Backgrounds & Highlights
$color-bg-muted: #f6f9f9;
$color-highlight: #e0f7fa;
$dark-overlay: #32323280;

$font-size-base: 1.6rem;
$font-size-sm: 1.4rem;
$font-size-lg: 2rem;

$breakpoints: (
  small: "max-width: 47.99em",
  large: "min-width: 940px",
  smallUp: "min-width: 34em",
  mediumUp: "min-width: 48em",
  largeUp: "min-width: 57em",
  xlUp: "min-width: 78.75em"
);
