@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap');

@font-face {
    font-family: 'Oswald';
    src: url(../fonts/Oswald/Oswald-Bold.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url(../fonts/Oswald/Oswald-ExtraLight.ttf) format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url(../fonts/Oswald/Oswald-Light.ttf) format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url(../fonts/Oswald/Oswald-Medium.ttf) format('truetype');
    font-weight: normal;
    font-style: 500;
}

@font-face {
    font-family: 'Oswald';
    src: url(../fonts/Oswald/Oswald-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url(../fonts/Oswald/Oswald-SemiBold.ttf) format('truetype');
    font-weight: 700;
    font-style: normal;
}
