{% extends 'editor/layout.html' %}

{% block title %}ligasfrancesinha{% endblock %}

{% block main %}
<div class="editor_section">
    <div class="app_container">
        {% for app in apps %}
        <div class="app_icon" {{ app.style }} data-href="{{ app.url }}" onclick="linkToDatasetHref(this)">
            <a href="{{app.url}}">
                <img class="app_image" src="{{ app.image_url }}" alt="{{app.name}}">
            </a>
            <p class="app_name">{{app.name}}</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}