{% import 'macros/input_macros.html' as input_macros %}
{% macro match_card(match) %}

{% set home_players = match.home_players() %}
{% set away_players = match.away_players() %}
{% set admin = True if 'admin_logged' in session.keys() else False %}

{% if home_players[0] %}
    {% set home_players0_link = url_for('players.player',id=home_players[0].id) %}
    {% set home_players0_picture_path = home_players[0].picture_path %}
    {% set home_players0_ranking_points = home_players[0].ranking_points|round|int %}
    {% set home_players0_full_name = home_players[0].full_name %}
    {% set home_players0_name = home_players[0].name %}
{% else %}
    {% set home_players0_link = '#' %}
    {% set home_players0_picture_path = 'player_black_background.png' %}
    {% set home_players0_ranking_points = 0 %}
    {% set home_players0_full_name = 'Jogador substituto' %}
    {% set home_players0_name = 'Substituto' %}
{% endif %}

{% if home_players[1] %}
    {% set home_players1_link = url_for('players.player',id=home_players[1].id) %}
    {% set home_players1_picture_path = home_players[1].picture_path %}
    {% set home_players1_ranking_points = home_players[1].ranking_points|round|int %}
    {% set home_players1_full_name = home_players[1].full_name %}
    {% set home_players1_name = home_players[1].name %}
{% else %}
    {% set home_players1_link = '#' %}
    {% set home_players1_picture_path = 'player_black_background.png' %}
    {% set home_players1_ranking_points = 0 %}
    {% set home_players1_full_name = 'Jogador substituto' %}
    {% set home_players1_name = 'Substituto' %}
{% endif %}

{% if away_players[0] %}
    {% set away_players0_link = url_for('players.player',id=away_players[0].id) %}
    {% set away_players0_picture_path = away_players[0].picture_path %}
    {% set away_players0_ranking_points = away_players[0].ranking_points|round|int %}
    {% set away_players0_full_name = away_players[0].full_name %}
    {% set away_players0_name = away_players[0].name %}
{% else %}
    {% set away_players0_link = '#' %}
    {% set away_players0_picture_path = 'player_black_background.png' %}
    {% set away_players0_ranking_points = 0 %}
    {% set away_players0_full_name = 'Jogador substituto' %}
    {% set away_players0_name = 'Substituto' %}
{% endif %}

{% if away_players[1] %}
    {% set away_players1_link = url_for('players.player',id=away_players[1].id) %}
    {% set away_players1_picture_path = away_players[1].picture_path %}
    {% set away_players1_ranking_points = away_players[1].ranking_points|round|int %}
    {% set away_players1_full_name = away_players[1].full_name %}
    {% set away_players1_name = away_players[1].name %}
{% else %}
    {% set away_players1_link = '#' %}
    {% set away_players1_picture_path = 'player_black_background.png' %}
    {% set away_players1_ranking_points = 0 %}
    {% set away_players1_full_name = 'Jogador substituto' %}
    {% set away_players1_name = 'Substituto' %}
{% endif %}

<section class="c-tor-box c-tor-box--m">
    <br>
    <div class="c-teams c-teams--double c-teams--vs">
        <div class="c-teams__header c-teams__header--played">
            <div class="c-teams__iandt">
                <img class="small_watch" src="{{ url_for('static', filename='images/watch.png')}}">
                <span class="big-date">
                    {% if match.date_hour %}{{match.date_hour.strftime('%d/%m/%Y %H:%M')}}{% else %}Não definido{% endif %}
                </span>
                <span class="small-date">
                    {% if match.date_hour %}{{match.date_hour.strftime('%d/%m/%y')}}{% else %}N def{% endif %}
                </span>
            </div>
            <div class="c-teams__iandt">
                <span> {{match.games_home_team if match.games_home_team else ''}}-{{match.games_away_team if match.games_away_team else ''}} </span>
            </div>
            <div class="c-teams__iandt">
                <img class="small_field" src="{{ url_for('static', filename='images/field.png')}}">
                <span>
                    {{match.field}}
                </span>
            </div>
            {% if admin %}
            <div class="c-teams__iandt_edit">
                <div class="edit_button">
                    <a href="{{url_for('matches.edit',id=match.id)}}">
                        <button type="submit" class="btn btn-light" id="match_edit_submit_button">EDITAR</button>
                    </a>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="c-teams__box">
        <div class="c-teams__column">
            <ul class="c-teams__list u-list-clean">
                <li class="c-teams__item on_match">
                    <div class="c-teams__container">
                        <div class="l-wrapper">
                            <a class="c-trigger" href="{{ home_players0_link }}">
                                {% set filename = 'images/players/' + home_players0_picture_path %}
                                {% set player_image = url_for('static',filename=filename)%}
                                <div class="c-teams__img u-img-cropped u-img-cropped--team" style="background-image: url({{player_image}})"></div>
                            </a>
                        </div>
                        <div class="c-teams__details">
                            <div class="l-wrapper">
                                <div class="c-teams__score">{{home_players0_ranking_points + home_players1_ranking_points}}</div>
                                <div class="c-teams__players">
                                    <div class="c-teams__name">{{home_players0_full_name}}</div>
                                    <div class="c-teams__name">{{home_players1_full_name}}</div>
                                    <div class="c-teams__name_small">{{home_players0_name}}</div>
                                    <div class="c-teams__name_small">{{home_players1_name}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="l-wrapper">
                            <a class="c-trigger" href="{{ home_players1_link }}">
                                {% set filename = 'images/players/' + home_players1_picture_path %}
                                {% set player_image = url_for('static',filename=filename)%}
                                <div class="c-teams__img u-img-cropped u-img-cropped--team" style="background-image: url({{player_image}})"></div>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <span class="c-teams__vs">VS</span>
        <div class="c-teams__column">
            <ul class="c-teams__list u-list-clean">
                <li class="c-teams__item on_match">
                    <div class="c-teams__container">
                        <div class="l-wrapper">
                            <a class="c-trigger" href="{{ away_players0_link }}">
                                {% set filename = 'images/players/' + away_players0_picture_path %}
                                {% set player_image = url_for('static',filename=filename)%}
                                <div class="c-teams__img u-img-cropped u-img-cropped--team" style="background-image: url({{player_image}})"></div>
                            </a>
                        </div>
                        <div class="c-teams__details">
                            <div class="l-wrapper">
                                <div class="c-teams__score">{{away_players0_ranking_points + away_players1_ranking_points}}</div>
                                <div class="c-teams__players">
                                    <div class="c-teams__name">{{away_players0_full_name}}</div>
                                    <div class="c-teams__name">{{away_players1_full_name}}</div>
                                    <div class="c-teams__name_small">{{away_players0_name}}</div>
                                    <div class="c-teams__name_small">{{away_players1_name}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="l-wrapper">
                            <a class="c-trigger" href="{{ away_players1_link }}">
                                {% set filename = 'images/players/' + away_players1_picture_path %}
                                {% set player_image = url_for('static',filename=filename)%}
                                <div class="c-teams__img u-img-cropped u-img-cropped--team" style="background-image: url({{player_image}})"></div>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <br>
</section>
{% endmacro %}

{% macro matches_cards(matches,division=None,matchweek=None) %}
{% if division %}
<script>
    var matchweek_url = "{{url_for('matches.by_matchweek',division = division.name, matchweek=1)}}";
</script>
{% else %}
<script>
    var matchweek_url = "{{url_for('matches.by_matchweek', matchweek=1)}}";
</script>
{% endif %}
<script src="{{ url_for('static', filename='js/matches_macros.js')}}" defer></script>
<div class="select_container">
    {% if matches %}
        <select class="form-select matchweek_select" onchange="chooseMatchweek(this);">
            {% if matchweek %}
            {% for mw in range(1, 8) %}
            <option value="{{mw}}" {% if mw == matchweek %} selected {% endif %}> Jornada {{mw}}</option>
            {% endfor %}
            {% else %}
            <option selected>Jornada</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            {% endif %}

        </select>
    {% endif %}
</div>
<br>
{% for match in matches %}
{{ match_card(match) }}
<br>
{% endfor %}
{% endmacro %}

{% macro matches_for_edit_cards(matches,divisions,division=None) %}
{% if division %}
<script>
    var division_url = "{{url_for('matches.for_edit',division_id = division.id)}}";
</script>
{% else %}
<script>
    var division_url = "{{url_for('matches.for_edit',division_id = 1)}}";
</script>
{% endif %}
<script src="{{ url_for('static', filename='js/matches_macros.js')}}" defer></script>
<div class="select_container">
    <select class="form-select matchweek_select" onchange="chooseDivision(this);">
        <option selected>Divisão</option>
        {% for division in divisions %}
        <option value="{{division.id}}">{{division.name}}</option>
        {% endfor %}
    </select>
</div>
<br>
{% for match in matches %}
{{ match_card(match) }}
<br>
{% endfor %}
{% endmacro %}

{% macro edit_match_card(match) %}
{% set home_players = match.home_players() %}
{% set away_players = match.away_players() %}

{% if home_players[0] %}
    {% set home_players0_link = url_for('players.player',id=home_players[0].id) %}
    {% set home_players0_picture_path = home_players[0].picture_path %}
    {% set home_players0_ranking_points = home_players[0].ranking_points|round|int %}
    {% set home_players0_full_name = home_players[0].full_name %}
    {% set home_players0_name = home_players[0].name %}
{% else %}
    {% set home_players0_link = '#' %}
    {% set home_players0_picture_path = 'player_black_background.png' %}
    {% set home_players0_ranking_points = 0 %}
    {% set home_players0_full_name = 'Jogador substituto' %}
    {% set home_players0_name = 'Substituto' %}
{% endif %}

{% if home_players[1] %}
    {% set home_players1_link = url_for('players.player',id=home_players[1].id) %}
    {% set home_players1_picture_path = home_players[1].picture_path %}
    {% set home_players1_ranking_points = home_players[1].ranking_points|round|int %}
    {% set home_players1_full_name = home_players[1].full_name %}
    {% set home_players1_name = home_players[1].name %}
{% else %}
    {% set home_players1_link = '#' %}
    {% set home_players1_picture_path = 'player_black_background.png' %}
    {% set home_players1_ranking_points = 0 %}
    {% set home_players1_full_name = 'Jogador substituto' %}
    {% set home_players1_name = 'Substituto' %}
{% endif %}

{% if away_players[0] %}
    {% set away_players0_link = url_for('players.player',id=away_players[0].id) %}
    {% set away_players0_picture_path = away_players[0].picture_path %}
    {% set away_players0_ranking_points = away_players[0].ranking_points|round|int %}
    {% set away_players0_full_name = away_players[0].full_name %}
    {% set away_players0_name = away_players[0].name %}
{% else %}
    {% set away_players0_link = '#' %}
    {% set away_players0_picture_path = 'player_black_background.png' %}
    {% set away_players0_ranking_points = 0 %}
    {% set away_players0_full_name = 'Jogador substituto' %}
    {% set away_players0_name = 'Substituto' %}
{% endif %}

{% if away_players[1] %}
    {% set away_players1_link = url_for('players.player',id=away_players[1].id) %}
    {% set away_players1_picture_path = away_players[1].picture_path %}
    {% set away_players1_ranking_points = away_players[1].ranking_points|round|int %}
    {% set away_players1_full_name = away_players[1].full_name %}
    {% set away_players1_name = away_players[1].name %}
{% else %}
    {% set away_players1_link = '#' %}
    {% set away_players1_picture_path = 'player_black_background.png' %}
    {% set away_players1_ranking_points = 0 %}
    {% set away_players1_full_name = 'Jogador substituto' %}
    {% set away_players1_name = 'Substituto' %}
{% endif %}
<script src="{{ url_for('static', filename='js/matches_edit_match.js')}}" defer></script>
<div id="confirmModal" class="gpt_modal hidden">
    <div class="modal-content">
        <p id="modalText">Tens a certeza que queres tirar o jogador deste jogo??</p>
        <div class="modal-buttons">
        <button id="cancelBtn">Cancelar</button>
        <button id="confirmBtn">Sim, ele não veio</button>
        </div>
    </div>
</div>
<section class="c-tor-box c-tor-box--m">
    <form action="{{url_for('matches.edit',id=match.id)}}" method="post">
    <input name="players_eliminated" type="text" id="players_eliminated" style="display: none;">
    <br>
    <div class="c-teams c-teams--double c-teams--vs">
        <div class="c-teams__header c-teams__header--played">
            <div class="c-teams__iandt_edit">
                <img class="small_watch" src="{{ url_for('static', filename='images/watch.png')}}">
                <span class="big-date">
                    {% if match.date_hour %}{{match.date_hour.strftime('%d/%m/%Y %H:%M')}}{% else %}Não definido{% endif %}
                </span>
                <span class="small-date">
                    {% if match.date_hour %}{{match.date_hour.strftime('%d/%m/%y')}}{% else %}N def{% endif %}
                </span>
            </div>
            <div class="c-teams__iandt_edit">
                <span contenteditable="true" class="game_results" value="hometeam_games" pattern="\d*" inputmode="decimal">{{match.games_home_team if match.games_home_team else 0}}</span>
                <span>-</span>
                <span contenteditable="true" class="game_results" value="awayteam_games" pattern="\d*" inputmode="decimal">{{match.games_away_team if match.games_away_team else 0}} </span>
                <input name="hometeam_games_input" type="number" id="hometeam_games_input" class="game_inputs" style="display: none;">
                <input name="awayteam_games_input" type="number" id="awayteam_games_input" class="game_inputs" style="display: none;">
            </div>
            <div class="c-teams__iandt_edit">
                <img class="small_field" src="{{ url_for('static', filename='images/field.png')}}">
                <span>
                    <select name="match_field" class="form-select" aria-label="Default select example">
                        <option value="Campo 1" selected>Campo 1</option>
                        <option value="Campo 2">Campo 2</option>
                        <option value="Campo 3">Campo 3</option>
                        <option value="Campo 4">Campo 4</option>
                    </select>
                </span>
            </div>
            <div class="c-teams__iandt_submit">
                <div class="submit_button">
                    <button onclick="copyToInput()" type="submit" class="btn btn-light" id="match_edit_submit_button">&#10003;</button>
                </div>
            </div>
        </div>
    </div>
    <div class="c-teams__box">
        <div class="c-teams__column">
            <ul class="c-teams__list u-list-clean">
                <li class="c-teams__item on_match">
                    <div class="c-teams__container_for_edit">
                        <div class="l-wrapper">
                            <div class="eliminate_player" value="homeplayer0" id="player_button" onclick = "void(0)">
                                {% set filename = 'images/players/' + home_players0_picture_path %}
                                {% set player_image = url_for('static',filename=filename)%}
                                <div class="c-teams__img u-img-cropped u-img-cropped--team" id="homeplayer0_image" style="background-image: url({{player_image}});"></div>
                            </div>
                        </div>
                        <div class="c-teams__details">
                            <div class="l-wrapper">
                                <div class="c-teams__score">{{home_players0_ranking_points + home_players1_ranking_points}}</div>
                                <div class="c-teams__players">
                                    <div class="c-teams__name" name="homeplayer0_name">{{home_players0_full_name}}</div>
                                    <div class="c-teams__name" name="homeplayer1_name">{{home_players1_full_name}}</div>
                                    <div class="c-teams__name_small" name="homeplayer0_name">{{home_players0_name}}</div>
                                    <div class="c-teams__name_small" name="homeplayer1_name">{{home_players1_name}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="l-wrapper">
                            <div class="eliminate_player" value="homeplayer1" id="player_button" onclick = "void(0)">
                                {% set filename = 'images/players/' + home_players1_picture_path %}
                                {% set player_image = url_for('static',filename=filename)%}
                                <div class="c-teams__img u-img-cropped u-img-cropped--team" id="homeplayer1_image" style="background-image: url({{player_image}});"></div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <span class="c-teams__vs">VS</span>
        <div class="c-teams__column">
            <ul class="c-teams__list u-list-clean">
                <li class="c-teams__item on_match">
                    <div class="c-teams__container_for_edit">
                        <div class="l-wrapper">
                            <div class="eliminate_player" value="awayplayer0" id="player_button" onclick = "void(0)">
                                {% set filename = 'images/players/' + away_players0_picture_path %}
                                {% set player_image = url_for('static',filename=filename)%}
                                <div class="c-teams__img u-img-cropped u-img-cropped--team" id="awayplayer0_image" style="background-image: url({{player_image}});"></div>
                            </div>
                        </div>
                        <div class="c-teams__details">
                            <div class="l-wrapper">
                                <div class="c-teams__score">{{away_players0_ranking_points + away_players1_ranking_points}}</div>
                                <div class="c-teams__players">
                                    <div class="c-teams__name" name="awayplayer0_name">{{away_players0_full_name}}</div>
                                    <div class="c-teams__name" name="awayplayer1_name">{{away_players1_full_name}}</div>
                                    <div class="c-teams__name_small" name="awayplayer0_name">{{away_players0_name}}</div>
                                    <div class="c-teams__name_small" name="awayplayer1_name">{{away_players1_name}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="l-wrapper">
                            <div class="eliminate_player" value="awayplayer1" id="player_button" onclick = "void(0)">
                                {% set filename = 'images/players/' + away_players1_picture_path %}
                                {% set player_image = url_for('static',filename=filename)%}
                                <div class="c-teams__img u-img-cropped u-img-cropped--team" id="awayplayer1_image" style="background-image: url({{player_image}});"></div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <br>
    </form>
</section>
{% endmacro %}


{% macro create_match_card(division_id,players) %}

{% set unknown_image = url_for('static',filename='images/players/default_player.jpg')%}

<script src="{{ url_for('static', filename='js/matches_create_match.js')}}" defer></script>
<section class="c-tor-box c-tor-box--m">
    <form action="{{url_for('matches.create',division_id=division_id)}}" method="post" onsubmit="return check_inputs();">
    <br>
    <div class="c-teams c-teams--double c-teams--vs">
        <div class="c-teams__header c-teams__header--played">
            <div class="c-teams__iandt_create">
                <img class="small_watch" src="{{ url_for('static', filename='images/watch.png')}}">
                <input type="datetime-local" id="match_time" name="date_hour"/>
            </div>
            <div class="c-teams__iandt_create">
                <span contenteditable="true" class="game_results" value="hometeam_games" pattern="\d*" inputmode="decimal">0</span>
                <span>-</span>
                <span contenteditable="true" class="game_results" value="awayteam_games" pattern="\d*" inputmode="decimal">0</span>
                <input name="hometeam_games_input" type="number" id="hometeam_games_input" class="game_inputs" style="display: none;">
                <input name="awayteam_games_input" type="number" id="awayteam_games_input" class="game_inputs" style="display: none;">
            </div>
        </div>
    </div>
    <div class="c-teams__box">
        <div class="c-teams__column">
            <ul class="c-teams__list u-list-clean">
                <li class="c-teams__item on_match">
                    <div class="c-teams__container_for_edit">
                        <div class="l-wrapper">
                            <div class="choose_player" value="homeplayer0" id="player_button" onclick = "void(0)">
                                <div class="c-teams__img u-img-cropped u-img-cropped--team" id="homeplayer0_image" style="background-image: url({{unknown_image}});"></div>
                            </div>
                        </div>
                        <div class="c-teams__details">
                            <div class="l-wrapper">
                                <div class="c-teams__players">
                                    <div class="c-teams__name" name="homeplayer0_name"> Jogador </div>
                                    <div class="c-teams__name" name="homeplayer1_name"> Jogador </div>
                                    <div class="c-teams__name_small" name="homeplayer0_name"> Jogador </div>
                                    <div class="c-teams__name_small" name="homeplayer1_name"> Jogador </div>
                                    <input type="text" name="homeplayer0_id" id="homeplayer0_id" class="disp-none">
                                    <input type="text" name="homeplayer1_id" id="homeplayer1_id" class="disp-none">
                                </div>
                            </div>
                        </div>
                        <div class="l-wrapper">
                            <div class="choose_player" value="homeplayer1" id="player_button" onclick = "void(0)">
                                <div class="c-teams__img u-img-cropped u-img-cropped--team" id="homeplayer1_image" style="background-image: url({{unknown_image}});"></div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <span class="c-teams__vs">VS</span>
        <div class="c-teams__column">
            <ul class="c-teams__list u-list-clean">
                <li class="c-teams__item on_match">
                    <div class="c-teams__container_for_edit">
                        <div class="l-wrapper">
                            <div class="choose_player" value="awayplayer0" id="player_button" onclick = "void(0)">
                                <div class="c-teams__img u-img-cropped u-img-cropped--team" id="awayplayer0_image" style="background-image: url({{unknown_image}});"></div>
                            </div>
                        </div>
                        <div class="c-teams__details">
                            <div class="l-wrapper">
                                <div class="c-teams__players">
                                    <div class="c-teams__name" name="awayplayer0_name"> Jogador </div>
                                    <div class="c-teams__name" name="awayplayer1_name"> Jogador </div>
                                    <div class="c-teams__name_small" name="awayplayer0_name"> Jogador </div>
                                    <div class="c-teams__name_small" name="awayplayer1_name"> Jogador </div>
                                    <input type="text" name="awayplayer0_id" id="awayplayer0_id" class="disp-none">
                                    <input type="text" name="awayplayer1_id" id="awayplayer1_id" class="disp-none">
                                </div>
                            </div>
                        </div>
                        <div class="l-wrapper">
                            <div class="choose_player" value="awayplayer1" id="player_button" onclick = "void(0)">
                                <div class="c-teams__img u-img-cropped u-img-cropped--team" id="awayplayer1_image" style="background-image: url({{unknown_image}});"></div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <br>
    <div class="create_game_button">
        <button onclick="copyToInput()" class="btn btn-primary" type="submit">Criar jogo</button>
    </div>
    </form>
    {{input_macros.select_player(players)}}
</section>
{% endmacro %}

{% macro match_line(match) %}
<div class="match_result">
    {% set players = match.players_formatted() %}
    {% for team in players.keys() %}
        {{team_line(players[team])}}
    {% endfor %}
</div>
{% endmacro %}

{% macro team_line(team_line) %}
<div class="team_line">
    <div class="team_line_players">
        <div class="team_line_player1">
            <div class="line_player_flag"><img src="/static/images/pt.png"></div>
            {{team_line['player1']}}
        </div>
        <div class="team_line_player1">
            <div class="line_player_flag"><img src="/static/images/pt.png"></div>
            {{team_line['player2']}}
        </div>
    </div>
    <div class="team_line_result">{{team_line['result']}}</div>
</div>
{% endmacro %}