{% macro player_card_cropped(player) %}
{% set filename = 'images/players/' + player.picture_path %}
{% set player_image = url_for('static',filename=filename)%}
<div class="c-player-card__img u-img-cropped u-img-cropped--blue" style="background-image: url({{player_image}})">
</div>
{% endmacro %}

{% macro tiny_next_and_previous(player) %}
{% set filename = 'images/players/' + player.picture_path %}
{% set player_image = url_for('static',filename=filename)%}
<div class="u-img-cropped u-img-cropped--team" style="background-image: url({{player_image}})"></div>
{% endmacro %}

{% macro player_ranking_line(player) %}
<li class="c-player-card__item">
    <a class="c-trigger" href="{{ url_for('players.player',id=player.id) }}">
        <div class="c-player-card__header">
            <div class="c-player-card__details">
                <div class="c-player-card__position">{{player.ranking_position}}</div>
                <div class="c-player-card__name">
                    {% for word in player.full_name.split(' ') %}
                    {{word}}<br>
                    {% endfor %}
                </div>
            </div>
            <div class="l-wrapper">
                {{ player_card_cropped(player) }}
            </div>
        </div>
        <div class="c-player-card__footer">
            <div class="l-wrapper">
                <img class="c-player-card__flag" src="{{country_flag}}" alt="" role="presentation">
            </div>
            <div class="c-player-card__score">{{player.ranking_points}}</div>
        </div>
    </a>
</li>
{% endmacro %}

{% macro choose_player_line(player) %}
<li class="c-player-card__item choose_player_line_container">
    {% set filename ='images/players/' + player.picture_path %}
    {% set player_image = url_for('static', filename=filename) %}
    <div class="c-trigger choose_player_line" data-player_id="{{player.id}}" data-player_name="{{player.name}}" data-player_image="{{player_image}}">
        <div class="c-player-card__header">
            <div class="c-player-card__details">
                <div class="c-player-card__position">{{player.ranking_position}}</div>
                <div class="c-player-card__name">
                    {% for word in player.full_name.split(' ') %}
                    {{word}}<br>
                    {% endfor %}
                </div>
            </div>
            <div class="l-wrapper">
                {{ player_card_cropped(player) }}
            </div>
        </div>
        <div class="c-player-card__footer">
            <div class="l-wrapper">
                <img class="c-player-card__flag" src="{{country_flag}}" alt="" role="presentation">
            </div>
            <div class="c-player-card__score">{{player.ranking_points}}</div>
        </div>
    </div>
</li>
{% endmacro %}