{% macro index_tournaments(tournaments) %}
    {% if tournaments %}
        <div class="tournaments_index_container index_item">
            {% for tournament in tournaments %}
            {{ tournament_index_card(tournament)}}
            {% endfor %}
        </div>
    {% endif %}
{% endmacro %}

{% macro tournament_index_card(tournament) %}
<div class="tournament-card" onclick="linkToDatasetHref(this)" data-href="{{ url_for('tournaments.tournament', id=tournament.id) }}">
    {% set tournament_image = url_for('static', filename='images/' + tournament.logo_image_path) %}
    <div class="tournament-card__background" style="background-image: url('{{ tournament_image }}');">
        <div class="tournament-card__content">
            <div class="tournament-card__tour">{{ tournament.edition.name }}</div>
            <div class="tournament-card__name">{{ tournament.name }}</div>
            <div class="tournament-card__date">{{ tournament.edition.short_date_string() }}</div>
        </div>
    </div>
</div>
{% endmacro %}