{% extends 'layout.html' %}

{% block main %}
<div class="news_container">
    <table>
        <thead>
            <tr>
                <th style="padding: 1rem;">product_attributes</th>
            </tr>
        </thead>
        <tbody>
            {% for product_attribute in product_attributes %}
            <tr>
                <td style="padding: 1rem;"> <a href="{{url_for('products_attributes.edit',id=product_attribute.id)}}">{{ product_attribute.name }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}