{% extends 'layout.html' %}
{% import 'macros/match_macros.html' as match_macros %}

{% block main %}
<div class="l-grid l-grid--tor">
    <br>
    {{ match_macros.edit_match_card(match) }}
    <br>
    <section class="previous_next_container">
        {% set next_match = match.next_match()%}
        {% set previous_match = match.previous_match()%}
        {% if previous_match %}
        <a href="{{url_for('matches.edit',id=previous_match.id)}}">
            <button type="submit" class="arrow_button previous_button"></button>
        </a>
        {% endif %}
        {% if next_match %}
        <a href="{{url_for('matches.edit',id=next_match.id)}}">
            <button type="submit" class="arrow_button next_button"></button>
        </a>
        {% endif %}
    </section>
</div>
{% endblock %}