{% extends 'layout.html' %}

{% block main %}
{% set country_flag = url_for('static',filename='images/pt.png')%}
<div class="l-grid">
    <div class="c-player">
        <div class="c-player__content">
            {% set filename = 'images/' + player.large_picture_path %}
            {% set player_large_image = url_for('static',filename=filename)%}
            <img class="c-player__img" src="{{player_large_image}}">
            <div class="l-container_player">
                <div class="c-ranking-header c-ranking-header--no-image">
                    <h1 class="c-ranking-header__title">{{ player.full_name }}</h1>
                    <div class="l-container_player l-container--data">
                        <div class="c-ranking-header__data-box">
                            <p class="c-ranking-header__data-title">Ranking</p>
                            <p class="c-ranking-header__data">{{ player.ranking_position }}</p> 
                        </div>
                        <div class="c-ranking-header__data-box">
                            <p class="c-ranking-header__data-title">Pontos</p>
                            <p class="c-ranking-header__data">{{ player.ranking_points }}</p>
                        </div>
                    </div>
                    <img src="{{country_flag}}">
                </div>
            </div>
            <ul class="c-player__nav u-list-clean" role="tablist">
                <li class="c-player__item c-player__item--active" role="presentation">
                    <a id="personal_data_button">Dados pessoais</a>
                </li>
                <li class="c-player__item" role="presentation">
                    <a id="sports_data_button">Dados desportivos</a>
                </li>
            </ul>
            <div class="u-gradient u-gradient--horizontal"></div>
        </div>
        <div class="c-player__footer">
            <div class="c-player__img-container">
                {% set filename = 'images/' + player.picture_path %}
                {% set player_image = url_for('static',filename=filename)%}
                <div class="u-img-cropped" id="player_image_top" style="background-image: url({{player_image}});"></div>
            </div>
            <div class="l-container">
                <ul class="c-player__data-list u-list-clean c-player__data-list--is-visible" id="personal_data_tab">
                    <li class="c-player__data-item">
                        <h3>Data de nascimento</h3>
                        <p>{% if player.birthday %}{{player.birthday.strftime('%d/%m/%Y')}}{% else %}Não definido{% endif %}</p>
                    </li>
                    <li class="c-player__data-item">
                        <h3>Altura</h3>
                        <p>{{player.height}}</p>
                    </li>
                    <li class="c-player__data-item">
                        <h3>Mão preferida</h3>
                        <p>{% if player.prefered_hand %}{{player.prefered_hand}}{% endif %}</p>
                    </li>
                </ul>
                <ul class="c-player__data-list u-list-clean" id="sports_data_tab">
                    <li class="c-player__data-item">
                        <h3>Posiçao de jogo</h3>
                        <p></p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}