{% extends 'layout.html' %}
{% import 'macros/player_macros.html' as player_macros %}

{% block main %}
{% set country_flag = url_for('static',filename='images/pt.png')%}
<br>
<div class="l-grid">
    <div class="c-ranking c-ranking--half">
        <div class="c-ranking__block">
            <div class="c-ranking__title">
                <h3>Ranking</h3>
            </div>
            <ul class="c-player-card u-list-clean">
                {% for player in players %}
                {{player_macros.player_ranking_line(player)}}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
